<style>

  .p-link {
    padding: var(--text-padding);
  }

</style>

<p class=p-link>This is a paragraph with a <a class=link href=#>link</a> in it.</p>

<p class=p-link>This is a paragraph with an <a class=link href="https://github.com/digitallinguistics">external link</a> in it.</p>
