<style>
  .p-link {
    padding: var(--text-padding);
  }

  .p-dark {
    background-color: var(--blue);
    color: white;
  }
</style>

<p class='p-dark p-link'>This is a paragraph with a dark background and a <a class="link dark" href="https://github.com/digitallinguistics">link</a> in it.</p>