<style>

  .bg-link {
    background-color: var(--blue-1);
  }

  .p-link {
    padding: var(--text-padding);
  }

</style>

<p class=p-link>This is a paragraph with an <a class=link href=#>internal link</a> in it.</p>

<p class=p-link>This is a paragraph with a <a class=link href=/test>relative link</a> in it.</p>

<p class=p-link>This is a paragraph with an <a class=link href="https://github.com/digitallinguistics">external link</a> in it.</p>

<p class='bg-link p-link'>This is a paragraph with an <a class=link href="https://github.com/digitallinguistics">external link</a> and a background color.</p>
