<style>

  .label-container,
  .label-sm-container {
    margin: 1em;
  }

  .label-sm-container {
    display: block;
  }

  .label-sm-container > * {
    display: inline;
  }

</style>

<div class=label-container>
  <label class=label>Regular Label</label>
  <p>This is the labeled item.</p>
</div>

<div class=label-sm-container>
  <label class=label-sm>Small Label</label>
  <p>This is the labeled item.</p>
</div>