<style>
  button {
    align-self: flex-start;
    margin    : 1em;
  }
</style>

<button class=btn>Default</button>
<button class=btn disabled>Disabled</button>
<button class='btn primary'>Primary</button>
<button class='btn secondary'>Secondary</button>
<button class='btn success'>Success / Add</button>
<button class='btn warning'>Warning</button>
<button class='btn alert'>Alert / Cancel</button>
<button class='btn info'>Info</button>