<table class="table">

  <thead>
    <tr>
      <th>Language</th>
      <th>Lemma</th>
      <th>Glosses</th>
      <th>Date Created</th>
      <th>Date Modified</th>
    </tr>
  </thead>

  <tbody>
    <tr>

      <td>
        <a class="link" href="/languages/cc4978f6-13a9-4735-94c5-10e4e8030437">Chitimacha</a>
      </td>

      <td class="lemma">
        <a class="link" href="/lexemes/abc56564-5754-4698-845c-2ea32a760bbd">cuw‑</a>
      </td>

      <td>
        <ol class="numbered">
          <li>go</li>
          <li>walk</li>
        </ol>
      </td>

      <td class="date-created">2019-12-31</td>

      <td class="date-modified">2021-12-31</td>

    </tr>
    <tr>

      <td>
        <a class="link" href="/languages/3876b870-e7cd-46d2-bca8-2db1cd0a51ac">Public Test Language</a>
      </td>

      <td class="lemma">
        <a class="link" href="/lexemes/c00d0d77-4615-46f5-af59-f4b8c795311a">vivir</a>
      </td>

      <td>
        <ol class="numbered">
          <li>live</li>
        </ol>
      </td>

      <td class="date-created">2022-07-10</td>

      <td class="date-modified">2022-07-11</td>

    </tr>
    <tr>

      <td>
        <a class="link" href="/languages/3876b870-e7cd-46d2-bca8-2db1cd0a51ac">Public Test Language</a>
      </td>

      <td class="lemma">
        <a class="link" href="/lexemes/ecc1ec29-979f-4cf2-8715-b0e0ad6b27a0">correr</a>
      </td>

      <td>
        <ol class="numbered">
          <li>run</li>
        </ol>
      </td>

      <td class="date-created">2022-07-10</td>

      <td class="date-modified">2022-07-11</td>

    </tr>
  </tbody>

</table>