<style>
  .nav-list-demo {
    margin: var(--space);
  }
</style>

<ul class='bordered nav-list nav-list-demo'>
  <li>Menominee</li>
  <li>Ojibwe</li>
  <li class=current>Plains Cree</li>
  <li>Potawatomi</li>
</ul>