<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Preview Layout</title>
  <link rel="stylesheet" href="{{ path '/dlx.css' }}">
</head>
<body>
  {{{ yield }}}
</body>
</html>