<style>
  .list-demo {
    margin: 1em;
  }

  .list-demo li {
    padding: var(--text-padding);
  }
</style>

<ul class='list list-demo'>
  <li>Menominee</li>
  <li>Ojibwe</li>
  <li>Plains Cree</li>
  <li>Potawatomi</li>
</ul>