<style>
  body > .note {
    margin: var(--space);
  }
</style>

<article class=note>

  <header class=note__header>
    <dl class=note__metadata>

      <div class=note__prop>
        <dt class=note__source-label>Source</dt>
        <dd class=note__source>AA</dd>
      </div>

      <div class=note__prop>
        <dt class=note__label>Date Created:</dt>
        <dd class=note__value><time>2020-01-01</time></dd>
      </div>

      <div class=note__prop>
        <dt class=note__label>Date Modified:</dt>
        <dd class=note__value><time>2022-01-01</time></dd>
      </div>

    </dl>
  </header>

  <div class=note__content>
    <p class=note__text>Elit voluptate qui nisi deserunt. Deserunt proident aute exercitation Lorem irure pariatur exercitation pariatur nulla aute labore fugiat cillum. Veniam esse et occaecat excepteur commodo ut officia tempor.</p>
  </div>

</article>