<style>
  .color-block {
    --block-color: var(--blue-1);
    margin       : var(--space);
  }
</style>

<p class=color-block>Laboris proident eiusmod quis est. Incididunt excepteur eu id amet duis exercitation culpa sint ullamco fugiat consequat. Adipisicing fugiat culpa exercitation dolor ad reprehenderit cupidatat amet. Deserunt culpa magna laborum incididunt occaecat veniam excepteur anim adipisicing nostrud exercitation. Consectetur culpa consectetur exercitation nisi fugiat. Tempor officia excepteur cillum pariatur culpa non commodo exercitation labore. Eu anim tempor sint consequat exercitation occaecat labore.</p>